# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints
.env
.venv
insurance_env/
ENV/

# Power BI
*.pbix
*.pbit

# VS Code
.vscode/
*.code-workspace

# Operating System
.DS_Store
Thumbs.db

# Project specific
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep 